body {
    color: #40514E;
    margin: 0;
    font-family: 'Merriweather', serif;
}








/* Headings */
.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 7% 7% 3% 7%;
}

.two-column {
    align-items: center;
    text-align: center;
}



/* Navbar Section */
.nav-background {
    background-color: rgba(0, 0, 0, 0.61);
}

.nav-email {
    color: #fff;
}




/* Title Section */
.title-name {
    font-size: 25px;
    text-align: left;
}

.last-name {
    padding-bottom: 0;
}

.first-name {
    padding-top: 0;
}



/* Sidebar Section */
.outline {
    color: #fff;
    /* font-family: 'Montserrat', sans-serif; */
}



/* About Me Section */
.about-me-photo {
    width: 50%;
}

.about-me-content {
    text-align: left;
}




/* Skills Section */
.skill-row {
    width: 70%;
    margin: 7% auto 15% auto;
    text-align: left;
}

.skill-left-img {
    width: 35%;
    float: left;
    margin-right: 10%;
}

.skill-right-img {
    width: 35%;
    float: right;
    margin-left: 10%;
}

#skills h3 {
    margin: 3% auto 3% auto;
}






/* Experience Section */
.exp-row {
    margin: 5% auto 5% auto;
    text-align: left;
    /* line-height: 1.0; */
}

.exp-title {
    margin: 3% 0;
}











/* WebGames Page */

.game-row {
    width: 60%;
    margin: 10% auto 10% auto;
    margin-bottom: 100px;
}

.game-title {
    margin: 5% auto;
}

.game-text {
    text-transform: none;
}