body {
    text-align: center;
}

.stage {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 700px;
    background: white;
    border-style: solid;
    margin-top: 15px;
    overflow: hidden;
}

.player {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    /* background: white; */
    border-style: solid;
}

.ball {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    border-style: solid;
}

.score {
    width: 100%;
    text-align: right;
    font-size: 24px;
    height: auto;
    z-index: 10;
    position: absolute;
    right: 5px;
}